#main-wrapper {
  height: 100%;
  top: 0;
  position: relative;
  display: inline-block;
  width: 80%;
  left: 10%;
}

#main-wrapper .left-wrapper {
  position: relative;
  /*padding-bottom: 100%;*/
  width: 100%;
  /*height: 10vmin;*/
  /*left: 20%;*/
  height: 100%;
  background-color: #5F5F5F;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.8;
  margin-top: 80px;
  padding: 0px;
  float: left;
  /*padding-bottom: 180%;*/
}

.largeSticky {
  position: fixed;
  top: 0;
  margin-top: -80px;
  width: 20%;
}

.smallSticky {
  position: fixed;
  top: 0;
  margin-top: -80px;
  width: 27%;
}

#main-wrapper .left-wrapper h1 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  color: #c2c2c0;
  background: #5f5f5f;
  font-weight: 500;
  letter-spacing: 0.5vmin;
  font-size: 5vmin;
  padding-left: 1vmin;
}

#main-wrapper .left-wrapper .inner-border {
  position: absolute;
  /*width: 93%;*/
  left: 2.5vmin;
  right: 0%;
  /*height: 92%;*/
  top: 2.5vmin;
  bottom: 2.5vmin;
  /*margin-top: 2vmin;*/
  /*margin-bottom: 2vmin;*/
  border: 0.8vmin solid #c2c2c0;
  border-right: none;
}

#main-wrapper .left-wrapper .nav-wrapper {
  position: absolute;
  top: 15vmin;
  /*background-color: #000000;*/
  /*height: 90%;*/
  overflow: scroll;
  left: 3.3vmin;
  right: 0;
  bottom: 3.3vmin;
}

#main-wrapper .left-wrapper .create-button {
  position: absolute;
  /*width: 93%;*/
  top: 7vmin;
  left: 5.2vmin;
  right: 2vmin;
  background-color: #ffffff00;
  border-radius: 0;
  border: 0.4vmin solid #ffffff;
  color: #ffffff;
  font-weight: 600;
  font-size: 2vmin;
  height: 5vmin;
  padding: 0;
  border-radius: 5vmin;
}

#main-wrapper .left-wrapper .create-button:hover {
  /*background-color: #B2DDAC;*/
  color: #B2DDAC;
  border-color: #B2DDAC;
}

#main-wrapper .left-wrapper .el-menu {
  /*background-color: #B2DDAC;*/
  /*opacity: 0.8;*/
  /*background-color: rgb(238, 246, 239);*/
  background: none;
}

#main-wrapper .left-wrapper .el-menu .el-menu-item {
  color: #ffffff;
  font-weight: 600;
  font-size: 2vmin;
  letter-spacing: 0.5vmin;
  /*background-color: rgb(238, 246, 239);*/
  background: none;
}

#main-wrapper .left-wrapper .el-menu .el-menu-item:hover {
  /*color: #B2DDAC;*/
  background-color: #585858;
  border-right: 0.8vmin solid #B2DDAC;

}

#main-wrapper .left-wrapper .el-menu .el-menu-item.is-active {
  /*border-right: 0.8vmin solid #B2DDAC;*/
  /*color: #B2DDAC;*/
  font-size: 2.5vmin;
  color: #B2DDAC;
  background-color: #525252;
}

#main-wrapper .right-wrapper {
  position: relative;
  width: 100%;
  /*left: 25%;*/
  background-color: #f9f9f7;
  z-index: 1;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
  padding: 5px;
  box-shadow: 0.2vmax 0.2vmax 0.6vmax #5f5f5f;
  /*height: 2000px;*/
  margin-bottom: 20px;
}

#main-wrapper .right-wrapper .search-wrapper {
  width: 100%;
  /*padding: 5%;*/
  border-bottom: 2px solid #ececec;
  white-space: nowrap;
}

#main-wrapper .right-wrapper .search-wrapper input {
  width: 80%;
  position: relative;
  background-color: #ffffff00;
  font-size: 6vmin;
  font-weight: 700;
  color: #5f5f5f;
  padding: 2vmin;
  padding-left: 4vmin;
}

#main-wrapper .right-wrapper .search-wrapper .el-button {
  position: relative;
  border-radius: 100%;
  border-color: #B2DDAC;
  width: 5vmin;
  height: 5vmin;
  padding: 0;
  line-height: 6vmin;
  right: 2vmin;
  letter-spacing: 0;
  transform: translate(0, -35%);
  transition: color .15s linear;
}

#main-wrapper .right-wrapper .search-wrapper .el-button:hover {
  background-color: #B2DDAC;
  color: #ffffff;
}

#main-wrapper .right-wrapper .search-wrapper .el-button /deep/ i {
  position: absolute;
  line-height: 5vmin;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 2vmin;
  color: #B2DDAC;
  letter-spacing: 0;
  width: 5vmin;
  transition: color .15s linear;
}

#main-wrapper .right-wrapper .search-wrapper .el-button /deep/ i:hover {
  color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ececec;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ececec;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ececec;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ececec;
}

#main-wrapper .right-wrapper .collections-wrapper {
  position: relative;
  background-color: #f9f9f7;
  overflow: scroll;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper {
  position: relative;
  padding: 3% 1% 1% 3%;
  display: inline-block;
  width: 96%;
  white-space: nowrap;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper i{
  cursor: pointer;
  border: 0.3vmin solid #B2DDAC;
  border-radius: 5vmin;
  letter-spacing: 0;
  padding: 0.5vmin;
  margin-top: -0.8vmin;
  margin-left: 1vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-button {
  position: relative;
  float: right;
  margin-top: -3vmin;
  border-radius: 5vmin;
  font-size: 2vmin;
  letter-spacing: 0;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border: 1px solid #B2DDAC;
  color: #B2DDAC;
  font-weight: 500;
  letter-spacing: 0.1vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-button:hover {
  background-color: #B2DDAC;
  color: #ffffff;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper /deep/ .el-breadcrumb {
  font-size: 2vmin;
  font-weight: 600;
  letter-spacing: 0.2vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-breadcrumb /deep/ .el-breadcrumb__item__inner {
  color: #5f5f5f;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-breadcrumb /deep/ .el-breadcrumb__item__inner:hover {
  color: #B2DDAC;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-breadcrumb /deep/ .el-breadcrumb__item:last-child .el-breadcrumb__item__inner {
  color: #B2DDAC;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper {
  position: relative;
  display: inline-block;
  background-color: #f5f4f0;
  margin: 10%;
  width: 40%;
  padding-bottom: 60%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0.2vmax 0.2vmax 0.3vmax #b3b3af;
}

#main-wrapper .right-wrapper .collections-wrapper .new-wrapper{
  box-shadow: 0.2vmax 0.2vmax 0.3vmax #B2DDAC;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper i{
  position: absolute;
  cursor: pointer;
  border-radius: 5vmin;
  letter-spacing: 0;

  color: #ffffff;
  font-size: 2vmin;
  right: -1vmin;
  top: -1vmin;
  background-color: #B2DDAC;
  padding: 0.2vmin;
  margin: 0;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper i:hover {
  color: #B2DDAC;
  background-color: #ffffff;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper .el-button {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  border: 1px solid #B2DDAC;
  padding: 0;
  letter-spacing: 0;
  font-size: 1.5vmin;
  font-weight: 600;
  color: #5f5f5f;
  border-radius: 10px;
  background-color: #f5f4f0;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper .el-button:hover {
  color: #B2DDAC;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper .el-button i {
  position: relative;
  color: #B2DDAC;
  font-size: 3vmin;
  border: none;
  margin: 0;
  right: auto;
  bottom: auto;
  background: none;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper .el-button {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  border: 1px solid #B2DDAC;
  padding: 0;
  letter-spacing: 0;
  font-size: 1.5vmin;
  font-weight: 600;
  color: #5f5f5f;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper h5 {
  position: absolute;
  display: inline-block;
  left: 5%;
  width: 90%;
  color: #5f5f5f;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 2%;
  font-size: 1.8vmin;
  letter-spacing: 0.2vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper h6 {
  position: absolute;
  display: inline-block;
  left: 5%;
  width: 90%;
  color: #b3b3af;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /*margin-top: 2%;*/
  font-size: 1.2vmin;
  letter-spacing: 0.2vmin;
  bottom: 0;
  margin: 0;
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper p {
  position: absolute;
  display: inline-block;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  /*display: -webkit-box;*/
  /*-webkit-line-clamp: 2;*/
  /*-webkit-box-orient: vertical;*/
  font-size: 1.8vmin;
  letter-spacing: 0.2vmin;
  background-color: #b3b3af;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  border-radius: 10px;
  /*opacity: 0.8;*/
}

#main-wrapper .right-wrapper .collections-wrapper .collection-wrapper span {
  color: #B2DDAC;
}
