#main-wrapper {
  /*position: relative;*/
  height: 100%;
  top: 0;
  position: relative;
  display: inline-block;
  width: 80%;
  left: 10%;
  /*display: inline-block;*/
}

/*#main-wrapper .left-wrapper {*/
/*position: relative;*/
/*!*display: inline-block;*!*/
/*margin-top: 80px;*/
/*background: #f9f9f7;*/
/*width: 80%;*/
/*left: 10%;*/
/*!*padding-bottom: 100%;*!*/
/*}*/

#main-wrapper .left-wrapper {
  position: relative;
  /*padding-bottom: 100%;*/
  width: 100%;
  /*height: 10vmin;*/
  /*left: 20%;*/
  height: 100%;
  background-color: #5F5F5F;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.8;
  margin-top: 80px;
  padding: 0px;
  float: left;
  /*padding-bottom: 180%;*/
}

.largeSticky {
  position: fixed;
  top: 0;
  margin-top: -80px;
  width: 20%;
}

.smallSticky {
  position: fixed;
  top: 0;
  margin-top: -80px;
  width: 27%;
}

#main-wrapper .left-wrapper h1 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  color: #c2c2c0;
  background: #5f5f5f;
  font-weight: 500;
  letter-spacing: 0.5vmin;
  font-size: 5vmin;
  padding-left: 1vmin;
}

#main-wrapper .left-wrapper .inner-border {
  position: absolute;
  /*width: 93%;*/
  left: 2.5vmin;
  right: 0%;
  /*height: 92%;*/
  top: 2.5vmin;
  bottom: 2.5vmin;
  /*margin-top: 2vmin;*/
  /*margin-bottom: 2vmin;*/
  border: 0.8vmin solid #c2c2c0;
  border-right: none;
}

#main-wrapper .left-wrapper .inner-border .el-input {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 8%;
}

#main-wrapper .left-wrapper .inner-border .el-input /deep/ .el-input__icon {
  z-index: 1;
  line-height: 4vmin;
  font-size: 1.5vmin;
  width: 3vmin;
}

#main-wrapper .left-wrapper .inner-border .el-input /deep/ .el-input__inner {
  border-radius: 5vmax;
  line-height: 4vmin;
  height: 4vmin;
  font-size: 1.5vmin;
  padding-right: 3vmin;
}

#main-wrapper .left-wrapper .inner-border h2 {
  position: absolute;
  left: 5%;
  top: 7vmin;
  color: #ffffff;
  font-size: 2.5vmin;
}

#main-wrapper .left-wrapper .inner-border ol {
  position: absolute;
  left: 15%;
  top: 20%;
  padding-left: 0;
}

#main-wrapper .left-wrapper .inner-border ol li {
  top: 25%;
  font-size: 2vmin;
  /*margin-bottom: 1vmin;*/
  margin-bottom: 10%;
  list-style: decimal;
}

#main-wrapper .left-wrapper .inner-border ol li a {
  text-decoration: none;
  color: #B2DDAC;
  letter-spacing: 0.2vmin;
  font-weight: 500;
}

#main-wrapper .left-wrapper .inner-border ol li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper {
  top: 55%;
  position: absolute;
  /*padding-bottom: 20%;*/
  background: #ffffff20;
  /*top: 25vmin;*/
  width: 90%;
  left: 5%;
  margin-bottom: 10%;
  /*padding: 5vmin;*/
  padding: 0;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper a {
  position: absolute;
  color: #FFFFFF;
  width: 50%;
  line-height: 2.5vmin;
  top: 20%;
  left: 30%;
  font-size: 2vmin;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper a:hover {
  text-decoration: underline;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper p {
  position: absolute;
  color: #b3b3af;
  width: 50%;
  line-height: 2.5vmin;
  font-size: 1.5vmin;
  left: 30%;
  top: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper img {
  width: 20%;
  /*height: 5vmin;*/
  margin: 5%;
  padding: 0;
  cursor: pointer;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper button {
  width: 15%;
  height: 100%;
  white-space: normal;
  top: 0;
  position: absolute;
  right: 0;
  background: #ffffff00;
  color: #B2DDAC;
  border-radius: 0;
  padding: 0;
  text-align: center;
  margin: 0;
  border: 0.2vmin solid #B2DDAC;
  font-weight: 600;
  font-size: 1.5vmin;
  letter-spacing: 0;
}

#main-wrapper .left-wrapper .inner-border .user-wrapper button:hover {
  background-color: #B2DDAC;
  color: #ffffff;
}

#main-wrapper .right-wrapper {
  position: relative;
  width: 100%;
  /*left: 25%;*/
  background-color: #f9f9f7;
  z-index: 1;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
  padding: 5px;
  box-shadow: 0.2vmax 0.2vmax 0.6vmax #5f5f5f;
  /*height: 2000px;*/
  margin-bottom: 40px;
  overflow: visible;
}

#main-wrapper .right-wrapper h1 {
  padding: 1vmin;
  margin: 0;
  position: relative;
  left: 0;
  text-align: right;
  top: 0;
  right: 1vmin;
}

#main-wrapper .right-wrapper .post-wrapper {
  position: relative;
  background: #f9f9f7;
  width: 80%;
  text-align: left;
  left: 10%;
  /*border-bottom: 1px solid #5f5f5f;*/
}

#main-wrapper .right-wrapper .post-wrapper h2 {
  padding: 1vmin;
  margin: 0;
  position: relative;
  /*left: 10%;*/
  text-align: left;
  top: 0;
  right: 1vmin;
}

#main-wrapper .right-wrapper .post-wrapper button {
  /*width: 10%;*/
  position: absolute;
  right: 0%;
  border-radius: 5vmin;
  font-size: 1.5vmin;
}


#main-wrapper .right-wrapper .post-wrapper .el-textarea {
  position: relative;
  width: 100%;
  /*left: 10%;*/
  margin-bottom: 10px;
}

#main-wrapper .right-wrapper .post-wrapper .el-textarea /deep/ .el-textarea__inner{
  color: #5f5f5f;
  font-size: 2vmin;
  letter-spacing: 0.2vmin;
}


#main-wrapper .right-wrapper .inner-border {
  position: absolute;
  /*padding-bottom: 100%;*/

  background-color: #f9f9f7;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 92%;
  top: 3%;
  border: 5px solid #c2c2c000;
  /*opacity: 0.8;*/
}


#main-wrapper .right-wrapper .split-wrapper {
  margin-top: 10vmin;
  border-top: 1px solid #eaeaef;
  width: 90%;
  left: 5%;
  position: relative;
}
