#main-part {
  width: 100%;
  margin: 0;
  padding: 0;
  /*background-image: url('../../assets/Background.png');*/
  background-size: cover;
  text-align: center;
  height: 100%;
}

/deep/ .el-row {
  position: relative;
  top: 30%;
  margin: 0;
}

#main-part .grid-content {
  border-radius: 4px;
  min-height: 10px;
  background: #ffffff00;
}

#main-part .center-panel {
  width: 100%;
  padding-bottom: 75%;
  /*background-image: url('../../assets/welcomebg.png');*/
  /*background-color: #c5c5c5;*/
  background-size: cover;
  display: inline-block;
  position: relative;
  top: 40%;
  text-align: left;
  height: 100%;
}

#main-part .center-panel .info-input {
  position: absolute;
  border: none;
  background-color: #f5f4f0;
  outline: none;
  color: #5f5f5f;
  font-size: 1.5vmax;
  width: 50%;
  left: 25%;
  top: 40%;
  line-height: 2vmax;
  height: 2vmax;
  padding: 0.5vmax;
}

#main-part .center-panel .left-wrapper {
  position: absolute;
  /*padding-bottom: 100%;*/
  padding-bottom: 75%;
  width: 45%;
  background-color: #5F5F5F;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.8;
}

#main-part .center-panel .left-wrapper .inner-border {
  position: absolute;
  width: 96%;
  left: 4%;
  height: 93.5%;
  top: 2%;
  border: 5px solid #c2c2c0;
}

#main-part .center-panel .right-wrapper {
  position: absolute;
  /*padding-bottom: 100%;*/
  padding-bottom: 75%;
  width: 55%;
  left: 45%;
  background-color: #ffffff00;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  /*opacity: 0.8;*/
}


#main-part .center-panel .right-wrapper .inner-wrapper{
  position: absolute;
  /*padding-bottom: 100%;*/
  height: 95.5%;
  width: 96%;
  left: 0%;
  top: 2%;
  background-color: #f9f9f7;
  box-shadow: 0.2vmax 0.2vmax 0.6vmax #5f5f5f;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  /*opacity: 0.8;*/
}

#main-part .center-panel .left-wrapper h1 {
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC', 'Avenir Next';
  position: absolute;
  left: 3%;
  top: 0%;
  margin: 0;
  color: #c2c2c0;
  background: #5f5f5f;
  font-weight: 500;
  letter-spacing: 0.5vmax;
}

#main-part .center-panel .right-wrapper img {
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
}

#main-part .center-panel .right-wrapper h3 {
  width: 100%;
  text-align: center;
}

#main-part .center-panel .right-wrapper i {
  position: absolute;
  left: 85%;
  top: 61%;
  font-size: 1.2vmax;
}
#main-part .center-panel .right-wrapper .switch-wrapper{
  position: absolute;
  display: inline-block;
  float: right;
  font-size: 0.8vmax;
  right: 3%;
  text-align: right;
  left: 0;
}

#main-part .center-panel .right-wrapper .switch-wrapper p {
  position: relative;
  font-size: 0.8vmax;
  width: auto;
  display: inline-block;
  letter-spacing: 0.1vmax;
}

#main-part .center-panel .right-wrapper  .switch-wrapper a {
  position: relative;
  color: #B2DDAC;
  font-size: 0.8vmax;
  right: 1%;
  letter-spacing: 0.1vmax;
  margin-left: 1%;
}

.el-button {
  position: absolute;
  border-radius: 20px;
  left: 26%;
  width: 48%;
  font-size: 1.2vmax;
  font-weight: 500;
}

.bottom-wrapper {
  background-color: #5f5f5f;
  padding: 10px;
}

.bottom-wrapper .card {
  position: relative;
  background: #5e5e5c;
  min-height: 1px;
  padding: 0;
  margin: 0;
}

.bottom-wrapper .card .contents {
  top: 2%;
  position: relative;
}

.contact-wrapper {
  position: relative;
}
