.footer-wrapper {
  height: 30px;
  width: 100%;
  background-color: #5F5F5F;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.8;
}

.footer-wrapper p {
  width: 100%;
  text-align: center;
  color: #B2DDAC;
  line-height: 30px;
  margin: 0;
  letter-spacing: 0.1vmax;
  font-weight: 800;
}
