body {
  margin: 0px;
}

h1 {
  color: #5f5f5f;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  left: 10%;
  font-weight: 400;
  font-size: 3vmax;
  top: 3%;
  letter-spacing: 0.5vmax;
}

h2 {
  color: #b3b3af;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1.5vmax;
  letter-spacing: 0.5vmax;
}

h3 {
  color: #5f5f5f;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1.5vmax;
  letter-spacing: 0.5vmax;
}

h4 {
  color: #b3b3af;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1.2vmax;
  letter-spacing: 0.5vmax;
}

h5 {
  color: #b3b3af;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1vmax;
  letter-spacing: 0vmax;
}

button {
  border-radius: 20px;
  letter-spacing: 0.3vmax;
  font-weight: 400;
}
