body {
  margin: 0px;
  background-image: url('./assets/Background.png');
  background-size: cover;
}

h1 {
  color: #5f5f5f;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  left: 10%;
  font-weight: 400;
  font-size: 3vmax;
  top: 3%;
  letter-spacing: 0.5vmax;
}

h2 {
  color: #b3b3af;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1.5vmax;
  letter-spacing: 0.5vmax;
}

h3 {
  color: #5f5f5f;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1.5vmax;
  letter-spacing: 0.5vmax;
}

h4 {
  color: #b3b3af;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1.2vmax;
  letter-spacing: 0.5vmax;
}

h5 {
  color: #b3b3af;
  position: absolute;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1vmax;
  letter-spacing: 0vmax;
}

button {
  border-radius: 20px;
  letter-spacing: 0.3vmax;
  font-weight: 400;
}
input {
  position: absolute;
  width: 60%;
  /*left: 20%;*/
  font-size: 1.2vmax;
  padding: 0.2vmax;
  background-color: #f5f4f0;
  border: none;
  outline: none;
  color: #5f5f5f;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  letter-spacing: 0.2vmax;
}

.input-error {
  border: 1px solid #ff94a3;
}


i {
  position: absolute;
  cursor: pointer;
}

p {
  color: #b3b3af;
  position: relative;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
  font-size: 1vmax;
  letter-spacing: 0.2vmax;
  font-weight: 500;
  word-break: break-all;
  white-space: normal;
}

.p-error {
  color: #ff94a3;
}


.el-message-box__wrapper /deep/ .el-message-box {
  width: 40%;
}

.el-message-box__wrapper /deep/ .el-message-box /deep/ .el-message-box__header /deep/ .el-message-box__title {
  color: #5f5f5f;
  font-size: 2.5vmin;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang TC';
}

.el-message-box__wrapper .el-message-box /deep/ .el-message-box__input {
  left: 0;
}

.el-message-box__wrapper .el-message-box .el-message-box__input /deep/ input {
  position: relative;
  margin-top: 20px;}

/deep/ .el-row {
  padding: 0;
  margin: 0;
}

.el-row /deep/ .el-col{
  padding: 0;
  margin: 0;
}

/deep/ .el-select-dropdown__item {
  font-size: 2vmin;
  /*height: 3vmin;*/
  line-height: 3vmin;
}

/deep/ .el-select .el-input .el-input__icon {
  z-index: 1;
}

/deep/ .el-checkbox__label {
  font-size: 2vmin;
}

/deep/ .el-tooltip__popper .is-dark {
  background-color: #B2DDAC;
}

.el-dialog__head /deep/ .el-dialog__title{
  color: #5f5f5f;
  font-size: 24px;
}


.el-textarea /deep/ textarea {
  margin-top: 3vmin;
  height: 20vmin;
  font-size: 2.5vmin;
  color: #5f5f5f;
  letter-spacing: 0.2vmin;
  border: none;
  background-color: #f5f4f0;
}

/deep/ .el-button {
  font-size: 2vmin;
  border-radius: 20px;
}

.el-dialog__wrapper /deep/ .el-dialog {
  background-color: #f9f9f7;
}

.el-dialog p{
  width: 100%;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 12px;
}

.el-dialog .el-dialog-input {
  width: 60%;
  position: relative;
  left: 20%;
  /*border-radius: 5vmin;*/
  /*border: 1px solid #B2DDAC;*/
}

.input-success {
  /*border: 1px solid #B2DDAC;*/
}

.input-error {
  border: 1px solid #ff94a3;
}

.el-dialog .el-input /deep/ input{
  text-align: center;
  position: relative;
  border-radius: 0;
  border: none;
  background-color: #f5f4f0;
}

/deep/ .el-tag {
  background-color: #B2DDAC;
  margin-right: 2vmin;
  border-radius: 20px;
}

/deep/ .input-new-tag {
  width: 10%;
}


/deep/ .el-input--small {
  width: 10%;
}

/deep/ .button-new-tag {
  padding: 0 5px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
}


/deep/ .el-tooltip__popper {
  width: 10%;
  white-space: normal;
}

.el-tooltip__popper /deep/ .is-dark {
  width: 10%;
  white-space: normal;
}

/deep/.tooltip-wrapper {
  width: 10px;
  white-space: normal;
}

/deep/ .el-tag {
  background-color: #B2DDAC;
  margin-right: 2vmin;
  border-radius: 20px;
}

/deep/ .input-new-tag {
  width: 10%;
}


/deep/ .el-input--small {
  width: 10%;
}

/deep/ .button-new-tag {
  padding: 0 5px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
}

.icon {
  color: #ff94a3;
  cursor: pointer;
  background-color: #f9f9f7;
  margin-left: 10px;
}


.el-message /deep/ .el-message__img {
  opacity: 0.5;
}

.el-message .el-message__group p, .el-message .el-message__group .el-message__closeBtn  {
  color: #666;
}

