html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif, "Avenir", 'PingFang TC';
  font-weight: 200;
  list-style: none;
}

html {
  height: 100%;
}

* {
  position: relative;
  box-sizing: border-box;
}

button {
  outline: none;
}

/*
 * grid
 */
.nav-bar {
  height: 60px;
  width: 100%;
  background-color: #5F5F5F;
  position: absolute;
  z-index: 1000;
  white-space: nowrap;
  /*overflow: hidden;*/
  opacity: 0.8;
  overflow: visible;
  word-break: break-all;
  display: inline;
  top: 0;
}

.nav-bar .nav-logo {
  /*margin-top: 5px;*/
  position: relative;
  height: 60px;
  margin-left: 10%;
}

.nav-bar .left-nav {
  display: inline-block;
  margin-left: 2%;
  color: white;
}

.nav-bar .right-nav {
  display: inline-block;
  margin-right: 10%;
  float: right;
}

/deep/ .el-menu {
  background-color: #5F5F5F;
}

.el-menu li{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-button {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.el-menu li:hover {
  background-color: #585858;
  color: white;
}

.el-menu /deep/ .el-submenu {
  background-color: #5F5F5F;
  color: white;
}

.el-menu /deep/ .el-submenu:hover {
  background-color: #585858;
  color: white;
}

.el-menu .el-submenu /deep/ .is-active {
  border: none;
}

/deep/ .is-active {
  border: none;
}

.el-menu .el-submenu /deep/ .el-submenu__title {
  color: white;
}

.el-menu .el-submenu /deep/ .el-submenu__title:hover {
  background-color: #585858;

}

.el-menu .el-submenu /deep/ .el-menu-item {
  background-color: #5F5F5F;

}

.el-menu .el-submenu /deep/ > .el-menu {
  padding: 0;
}

.el-menu .el-submenu /deep/ > .el-menu li:hover {
  background-color: #585858;
  border-bottom: 5px solid #B2DDAC;
}

.el-menu--horizontal > .el-submenu.is-active /deep/ .el-submenu__title {
  border: none;
}

.nav-breaker {
  width: 100%;
  background-color: #B2DDAC;
  height: 2px;
}
