
.right-wrapper {
  position: relative;
  width: 100%;
  /*left: 25%;*/
  background-color: #f9f9f7;
  z-index: 1;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
  padding: 5px;
  box-shadow: 0.2vmax 0.2vmax 0.6vmax #5f5f5f;
  /*height: 2000px;*/
  margin-bottom: 20px;
}

#main-wrapper .right-wrapper .search-wrapper {
  width: 100%;
  /*padding: 5%;*/
  border-bottom: 2px solid #ececec;
  white-space: nowrap;
}

#main-wrapper .right-wrapper .search-wrapper input {
  width: 80%;
  position: relative;
  background-color: #ffffff00;
  font-size: 6vmin;
  font-weight: 700;
  color: #5f5f5f;
  padding: 2vmin;
  padding-left: 3%;}

#main-wrapper .right-wrapper .search-wrapper .el-button {
  position: relative;
  border-radius: 100%;
  border-color: #B2DDAC;
  width: 5vmin;
  height: 5vmin;
  padding: 0;
  line-height: 6vmin;
  right: 2vmin;
  letter-spacing: 0;
  transform: translate(0, -35%);
  transition: color .15s linear;
}

#main-wrapper .right-wrapper .search-wrapper .el-button:hover {
  background-color: #B2DDAC;
  color: #ffffff;
}

#main-wrapper .right-wrapper .search-wrapper .el-button /deep/ i {
  position: absolute;
  line-height: 5vmin;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 2vmin;
  color: #B2DDAC;
  letter-spacing: 0;
  width: 5vmin;
  transition: color .15s linear;
}

#main-wrapper .right-wrapper .search-wrapper .el-button /deep/ i:hover {
  color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ececec;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ececec;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ececec;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ececec;
}

#main-wrapper .right-wrapper .collections-wrapper {
  position: relative;
  background-color: #f9f9f7;
  overflow: hidden;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper {
  position: relative;
  padding: 3% 1% 1% 3%;
  display: inline-block;
  width: 94%;
  white-space: nowrap;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper i{
  cursor: pointer;
  border: 0.3vmin solid #B2DDAC;
  border-radius: 5vmin;
  letter-spacing: 0;
  padding: 0.5vmin;
  margin-top: -0.8vmin;
  margin-left: 1vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-button {
  position: relative;
  float: right;
  margin-top: -3vmin;
  border-radius: 5vmin;
  font-size: 2vmin;
  letter-spacing: 0;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border: 1px solid #B2DDAC;
  color: #B2DDAC;
  font-weight: 500;
  letter-spacing: 0.1vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-button:hover {
  background-color: #B2DDAC;
  color: #ffffff;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper /deep/ .el-breadcrumb {
  font-size: 2vmin;
  font-weight: 600;
  letter-spacing: 0.2vmin;
  margin-bottom: 2vmin;
  margin-top: 1vmin;
  white-space: nowrap;
  overflow: visible;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-breadcrumb /deep/ .el-breadcrumb__item__inner {
  color: #5f5f5f;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-breadcrumb /deep/ .el-breadcrumb__item__inner:hover {
  color: #B2DDAC;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-breadcrumb /deep/ .el-breadcrumb__item:last-child .el-breadcrumb__item__inner {
  color: #B2DDAC;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-input {
  position: relative;
  width: 60%;
  /* left: 5%; */
  /* top: 8%; */
  float: right;
  /*margin-top: -1vmin;*/
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-input /deep/ .el-input__icon {
  z-index: 1;
  line-height: 4vmin;
  font-size: 1.5vmin;
  width: 3vmin;
}

#main-wrapper .right-wrapper .collections-wrapper .breadcrumb-wrapper .el-input /deep/ .el-input__inner {
  position: relative;
  border-radius: 5vmax;
  line-height: 4vmin;
  height: 4vmin;
  font-size: 1.5vmin;
  padding-right: 3vmin;
  top: 0;
}

#main-wrapper .right-wrapper .collections-wrapper .tags-wrapper {
  /* padding-bottom: 10px; */
  /*background-color: #B2DDAC;*/
  position: relative;
  display: inline-block;
  top: 0;
  bottom: 0;
  /* height: 100%; */
  /* height: 20px; */
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #eaeaef;
  padding: 10px;
}


/deep/ .el-tag {
  background-color: #B2DDAC;
  margin-right: 2vmin;
  border-radius: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  white-space: normal;
  word-break: break-all;
  overflow: visible;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

/deep/ .input-new-tag {
  width: 10%;
}


/deep/ .el-input--small {
  width: 10%;
  margin: 0;
}

/deep/ .el-input--mini {
  width: 10%;
  margin: 0;
  position: relative;
}

/deep/ .button-new-tag {
  padding: 0 5px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
  border-radius: 20px;
  /*font-weight: 600;*/
}

.el-input--mini /deep/ .el-input__inner {
  margin-top: 0;
  position: relative;
  border-radius: 20px
}


/deep/  .el-select {
  /*width: 100%;*/
  font-size: 2vmin;
  z-index: 0;
  margin-bottom: 1vmin;
}

.el-select /deep/ input{
  position: absolute;
  left: 0;
  color: #5f5f5f;
  border-radius: 5vmin;
  /*border: none;*/
  font-weight: 500;
  z-index: 0;
  height: 4vmin;
  z-index: 1;
}

.el-select .el-input /deep/ i{
  z-index: 3;
}

.el-select /deep/ .el-input__inner{
  left: 0;
  position: relative;
  top: 0;
  font-size: 2vmin;
  color: #5f5f5f;
  z-index: -1;
}

.el-select /deep/ .el-input /deep/ .el-input__icon{
  z-index: 3;
}

#main-wrapper .right-wrapper .collections-wrapper .save-button {
  font-size: 2vmin;
  border-radius: 100px;
  border: 0.2vmin solid #B2DDAC;
  color: #B2DDAC;
  /*transform: translate(0, -35%);*/
  transition: color .5s linear;
  float: right;
  position: relative;
  margin-right: 1%;
  font-weight: 600;
  padding: 1vmin 5vmin 1vmin 5vmin;
  margin-top: 10px;
  margin-bottom: 5px;
}

#main-wrapper .right-wrapper .collections-wrapper .save-button:hover {
  color: #ffffff;
  background-color: #B2DDAC;

}
